body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.input-container {
    margin: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 200px;
    padding: 5px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
}

.result-container {
    display: none;
    margin-top: 50px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px 0;
    background-color: #f9f9f9;
}
